html, body {
    margin: 0px;
    padding: 10px;
    border: 0px;
    color: #000;
    background: #fff;
}

select#algorithm {
    display: inline;
}

a.sourcelink {
    padding-left: 20px;
}

a.toggle {
    display:block;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.strings {
    border-collapse: collapse;
}

td.table-char {
    font-family: monospace;
    color: grey;
    border: none;
    font-size: 24px;
    width: 15px;
}

td.current {
    background-color: red;
    color: black;
}

td.match {
    background-color: lightgreen;
}

div.display-area {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    outline: 1px solid lightgrey;
}

div.buttons {
    display:inline-block;
}

td.statlabel {
    text-align: right;
    border: 1px solid lightgrey;
    padding: 5px;
}

label.slider, label.file{
    padding-left: 20px;
}

td.stat {
    padding: 10px;
    width: 60px;
    border: 1px solid lightgrey;
    text-align: right;
}

button.btn {
    margin: 5px;
}

table.statstable {
    display:inline-block;
    padding: 15px 0px 10px 0px;
}


div.buttons {
    display: inline-block;
    vertical-align: middle;
}

div#plotArea {
    padding-top: 15px;
}

div.comparisonsplot {
    margin-top: -50px;
}

#range-slider {
    width: 300px;
}

#state-info-span {
    padding-left: 30px;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}


